<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Товары</div>
    <div class="panel-body">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Название</th>
                <th>Цена, руб.</th>
                <th>Количество на складе</th>
                <th>Редактировать/Удалить</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.count}}</td>
                <td><button md-raised-button color="primary" (click)="editProduct(product.id)">Редактировать</button>
                  <button md-raised-button color="primary" (click)="delProduct(product)">Удалить</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr class="clearfix">
      <div class="row">
        <form class="form-inline" (ngSubmit)="addItem(storeId,id,name, price, count); productForm.resetForm() " #productForm="ngForm">
          <md-form-field class=" col-md-4 col-sm-4 col-xs-9">
            <input mdInput name="name" [(ngModel)]="name" placeholder="Название" #nameProduct="ngModel" title="Введите сторку" required>
            <md-error>
              Название <strong>обязательное</strong> для заполнения
            </md-error>
          </md-form-field>
          <md-form-field class=" col-md-4 col-sm-4 col-xs-9">
            <input mdInput name="price" [(ngModel)]="price" placeholder="Цена" #priceProduct="ngModel" title="Введите числовое значение, от 1 до 18 цифр"
              required pattern="[0-9]{1,18}">
            <md-error>
              Цена <strong>обязательна</strong> для заполнения
            </md-error>
          </md-form-field>
          <md-form-field class=" col-md-4 col-sm-4 col-xs-9">
            <input mdInput name="count" [(ngModel)]="count" placeholder="Количество" #countProduct="ngModel" title="Введите числовое значение, от 1 до 10 цифр"
              required pattern="[0-9]{1,10}">
            <md-error>
              Цена <strong>обязательна</strong> для заполнения
            </md-error>
          </md-form-field>
          <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
              <button md-raised-button color="primary" title="Заполните все поля" [disabled]="nameProduct.invalid || countProduct.invalid  || priceProduct.invalid "
                type="submit">Добавить товар</button>
            </div>
          </div>
        </form>
      </div>
      <div class="row clearfix">
        <div class="form-group">
          <div class=" col-md-2">
            <button class="space-top" md-raised-button color="primary" (click)="goBack()">Назад</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>