<div class="container">
    <div *ngIf="store">
        <div class="panel panel-default">
            <div class="panel-heading">Редактирование магазина</div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                        <h2>Название магазина: {{store.name}}</h2>
                        <h3>Адрес: {{store.address}}</h3>
                        <h3>Режим рабботы: {{store.time}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="form-inline clearfix">
                        <div class="form-group">
                            <div class="col-md-6">
                                <input class="form-control" [(ngModel)]="store.name" placeholder="Название" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input class="form-control" [(ngModel)]="store.address" placeholder="Адрес" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input class="form-control" [(ngModel)]="store.time" placeholder="Режим работы" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="form-group">
                <div class=" col-md-2">
                    <button md-raised-button color="primary" (click)="goBack()">Назад</button>
                </div>
            </div>
        </div>
    </div>
</div>