<div class="store-item" *ngIf="stores">
  <h2>{{stores.name}}</h2>
  <h3>{{stores.adress}}</h3>
  <h3>{{stores.time}}</h3>
  <div><label>id: </label>{{stores.id}}</div>
  <div>
    <label>Название: </label>
    <input [(ngModel)]="stores.name" placeholder="name" />
  </div>
  <div>
    <label>Адрес: </label>
    <input [(ngModel)]="stores.adress" placeholder="adress" />
  </div>
  <div>
    <label>Режим работы: </label>
    <input [(ngModel)]="stores.time" placeholder="time" />
  </div>
  <nav>
      <a routerLink="/home">Назад</a>
  </nav>
 </div>