<div class="container">
    <div class="panel">
        <div class="row">
            <form class="form-inline" (ngSubmit)="addItem(id, name, address, time); storeForm.reset()" #storeForm="ngForm">
                <div class="form-group">
                    <div class="col-md-8">
                        <input class="form-control" name="name" [(ngModel)]="name" placeholder="Название" #nameStore="ngModel" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <input class="form-control" name="address" [(ngModel)]="address" placeholder="Адрес" #addressStore="ngModel" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <input class="form-control" name="time" [(ngModel)]="time" placeholder="Режим работы" #timeStore="ngModel" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button md-raised-button color="primary" title="Заполните все поля" [disabled]="timeStore.invalid || addressStore.invalid  || nameStore.invalid "
                            type="submit">Добавить</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>Магазины</h2>
            </div>
        </div>
        <div class="panel panel-default" *ngFor="let store of stores">
            <div class="panel-heading"><span class="badge">{{store.id}}</span>{{store.name}} </div>
            <div class="panel-body">
                <p>Адрес: {{store.address}}</p>
                <hr>
                <p> Режим работы: {{store.time}}</p>
                <hr>
                <button md-raised-button color="primary" class=" col-md-3 col-sm-4 col-xs-12" (click)="edit(store.id)">Редактировать</button>
                <button md-raised-button color="primary" (click)="delStore(store)" class="col-md-3 col-sm-4 col-xs-12">Удалить</button>
                <button md-raised-button color="primary" (click)="showProduct(store.id)" class="col-md-3 col-sm-4 col-xs-12">Товары</button>
            </div>
        </div>
    </div>
</div>