<div class="container">
    <div class="panel">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-8">
                    <input class="form-control" [(ngModel)]="name" placeholder = "Название" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <input  class="form-control" [(ngModel)]="address" placeholder="Адрес" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <input  class="form-control" [(ngModel)]="time" placeholder="Режим работы" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button class="btn btn-default" (click)="addItem(id, name, address, time)">Добавить</button>
                </div>
            </div>
        </div>
  <h2>Магазины</h2>
  <ul class="stores clearfix">
    <li class="col-md-2 col-sm-5 col-xs-12" *ngFor="let store of stores" [class.selected]="store === selectedStore" (click)="onSelect(store)">
      <span class="badge">{{store.id}}</span> {{store.name}} <br> {{store.address}}
      <br> {{store.time}}
    </li>
  </ul>
  <div *ngIf="selectedStore">
    <h2>
     Для редактирования выбран магазин: {{selectedStore.name}}
    </h2>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <button class="btn btn-default" (click)="edit()">Редактировать</button>
        </div>
    </div>
  </div>
</div>