
.container{
  width: 350px;
  border: 1px solid #607D8B;
  border-radius: 4px;
}
.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .stores {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .stores li {
    width: 250px;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    border-radius: 4px;
    display: inline-block;
   text-align:center;
  }
  .stores li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .stores li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .stores .text {
    position: absolute;
    top: -3px;
  }
  .stores .badge {
    display: block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    position: absolute;
    margin-right: 15px;
    border-radius: 4px 0 0 4px;
    height: 100%;
    top: 0px;
    float: left;
  }